{plugins, [coveralls, pc]}.

{project_plugins, [erlfmt]}.

{provider_hooks, [{pre, [
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]}
                 ]}.

{port_specs, [{"priv/erlzmq_drv.so", ["c_src/*.c"]}
             ]}.

{port_env, [{ "(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
"CFLAGS",
"$CFLAGS -I/usr/local/include -Ic_src/ -g -Wall -Werror"
            },
            {
"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
"LDFLAGS",
"$LDFLAGS -L/usr/local/lib -lzmq"
}
           ]}.

{profiles, [ {devcontainer,
              [ {eunit_opts, [ {sys_config, "devcontainer.config"}
                             ]} ]} ]}.

{eunit_opts, [ debug_info,
               verbose
             ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/devcontainer+test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
{coveralls_parallel, true}.
